.product {
  display: flex;
  justify-content: space-around;
  /* width: 60rem; */
  border: 1px solid #e0d8d8;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
